/Practice 1
/Practice 2
/Practice 3
/Practice 4
/Practice 5
/Practice 6
/Practice 9 - Azure Virtual Machines

/Quiz 1
/Slides
/VM
.DS_Store

/Micro project 1
/Micro Project 2

*.jpeg
*.jpg
*.png
*.doc